# ===== DATABASE =====
DATABASE_URL=postgresql://username:password@localhost:5432/alby_design

# ===== SERVER =====
PORT=3000

# ===== AUTH =====
JWT_SECRET=change_this_to_a_long_random_secret_string

# ===== CLOUDFLARE R2 (S3-compatible) =====
CLOUDFLARE_R2_ACCESS_KEY=888775988db95320ca80d2f772f33ee1
CLOUDFLARE_R2_SECRET_KEY=bacf3eb29bf7a89edec6b8c21de5592803cfadaa298821e5fe7ea296b5aecf1d
CLOUDFLARE_R2_BUCKET=alby-by-design-graphics
CLOUDFLARE_R2_ENDPOINT=https://2b530679c62718b1c8b6b198dd217d89.r2.cloudflarestorage.com
CLOUDFLARE_R2_PUBLIC_URL=https://pub-2ad5122b9f7f485295894e7e39d5bea1.r2.dev
